*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 2;
}

.s5_3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 2;
}

.s5_pop1 {
	position: absolute;
	width: 299px;
	height: 269px;
	left: 391px;
	top: 382px;
	z-index: 3;
}

.s5_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 6;
}

.s5_pop2 {
	position: absolute;
	width: 297px;
	height: 283px;
	left: 703px;
	top: 366px;
	z-index: 3;
}

.s5_c1ose2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 6;
}

@-webkit-keyframes stamp {
	0% {
		opacity: 0;
	}
	10% {
		opacity:.50;
		transform-origin: 50% 50%;
		transform: rotate(-2deg) scale(2);
		transition: all .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	}
	100% {
		opacity:1;
		transform: rotate(0deg) scale(1);
	}
}

@keyframes stamp {
	0% {
		opacity: 0;
	}
	10% {
		opacity:.50;
		transform-origin: 50% 50%;
		transform: rotate(-2deg) scale(2);
		transition: all .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	}
	100% {
		opacity:1;
		transform: rotate(0deg) scale(1);
	}
}