*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
  left: 197px;
  top: 50px;
  width: 629px;
  height: 249px;
	animation: slideInUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_3 {
	position: absolute;
  left: 89px;
  top: 350px;
  width: 242px;
  height: 68px;
	animation: fadeInDownSmall 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_4 {
	position: absolute;
  left: 117px;
  top: 500px;
  width: 241px;
  height: 67px;
	animation: fadeInDownSmall 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_5 {
	position: absolute;
  left: 390px;
  top: 621px;
  width: 241px;
  height: 67px;
	animation: fadeInDownSmall 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_6 {
	position: absolute;
  left: 636px;
  top: 500px;
  width: 241px;
  height: 67px;
	animation: fadeInDownSmall 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_7 {
	position: absolute;
  left: 683px;
  top: 350px;
  width: 242px;
  height: 67px;
	animation: fadeInDownSmall 1s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 3;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}