*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
	left: 97px;
	top: 122px;
	animation: fadeInLeft 1.2s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_3 {
	position: absolute;
	left: 178px;
	top: 205px;
	animation: zoomInDown 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_4 {
	position: absolute;
	left: 27px;
	bottom: 50px;
	display: none;
	z-index: 4;
}

.s2_pop1 {
	position: absolute;
	height: 80px;
	width: 80px;
	right: 35px;
	bottom: 0px;
	z-index: 3;
}

.s2_c1ose1 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 27px;
	bottom: 50px;
	display: none;
	z-index: 6;
}

@-webkit-keyframes reveal-left {
 0% {    clip: rect(0px,0px,106px,0px);  }
 100% {    clip: rect(0px,0px,106px,0px);  }
}

@keyframes reveal-left  {
 0% {    clip: rect(0px,0px,136px,0px);  }
 100% {    clip: rect(0px,200px,106px,0px);  }
}