* {
  margin: 0px;
  padding: 0px;
}

.background {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.slider {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 317px;
  height: 768px;
  animation: fadeInLeft 0.7s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  z-index: 2;
}

.logo {
  position: absolute;
  left: 467px;
  top: 48px;
  width: 425px;
  height: 228px;
  animation: fadeInDown 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 4;
}
