*{
	margin: 0px;
	padding: 0px;
}

.s7_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s7_2 {
	position: absolute;
  left: 198px;
  top: 50px;
  width: 628px;
  height: 249px;
	animation: slideInUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_3 {
	position: absolute;
  left: 143px;
  top: 340px;
  width: 738px;
  height: 151px;
	animation: fadeInLeft 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s7_4 {
	position: absolute;
  left: 148px;
  top: 528px;
  width: 733px;
  height: 140px;
	animation: fadeInRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}

@-webkit-keyframes flashUp {
  0%, 40%, 90% {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}

@keyframes flashUp {
  0%, 40%, 90% {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}

.flashUp {
  -webkit-animation-name: flashUp;
  animation-name: flashUp;
}