*{
	margin: 0px;
	padding: 0px;
}

.s4_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s4_2 {
	position: absolute;
  left: 197px;
  top: 50px;
  width: 629px;
  height: 249px;
	animation: slideInUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_3 {
	position: absolute;
  left: 52px;
  top: 329px;
  width: 325px;
  height: 106px;
	animation: fadeInDownSmall 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4_4 {
	position: absolute;
  left: 113px;
  top: 458px;
  width: 324px;
  height: 106px;
	animation: fadeInDownSmall 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4_5 {
	position: absolute;
  left: 350px;
  top: 575px;
  width: 324px;
  height: 105px;
	animation: fadeInDownSmall 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4_6 {
	position: absolute;
  left: 589px;
  top: 458px;
  width: 325px;
  height: 106px;
	animation: fadeInDownSmall 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4_7 {
	position: absolute;
  left: 648px;
  top: 329px;
  width: 325px;
  height: 106px;
	animation: fadeInDownSmall 1s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 3;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}