*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
	width: 916px;
	height: 296px;
	left: 55px;
	top: 380px;
	animation: fadeInUp 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_3 {
	position: absolute;
	width: 158px;
	height: 158px;
	left: 15px;
	top: 75px;
	animation: stamp 0.2s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s1_4 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 27px;
	bottom: 50px;
	display: none;
	z-index: 4;
}

.s1_pop1 {
	position: absolute;
	height: 80px;
	width: 80px;
	right: 35px;
	bottom: 0px;
	z-index: 3;
}

.s1_c1ose1 {
	position: absolute;
	width: 974px;
	height: 94px;
	left: 27px;
	bottom: 50px;
	display: none;
	z-index: 6;
}

@-webkit-keyframes stamp {
	0% {
		opacity: 0;
	}
	10% {
		opacity:.50;
		transform-origin: 50% 50%;
		transform: rotate(-2deg) scale(2);
		transition: all .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	}
	100% {
		opacity:1;
		transform: rotate(0deg) scale(1);
	}
}

@keyframes stamp {
	0% {
		opacity: 0;
	}
	10% {
		opacity:.50;
		transform-origin: 50% 50%;
		transform: rotate(-2deg) scale(2);
		transition: all .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	}
	100% {
		opacity:1;
		transform: rotate(0deg) scale(1);
	}
}