* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.pointer {
	position: absolute;
  left: 161px;
  top: 623px;
  width: 46px;
  height: 45px;
	animation: navigate 5s infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
	transition-timing-function: linear;
	z-index: 5;
}

.hit_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 233px;
  top: 255px;
  width: 527px;
  height: 93px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}