*{
	margin: 0px;
	padding: 0px;
}

.s6_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s6_2 {
	position: absolute;
  left: 198px;
  top: 51px;
  width: 628px;
  height: 248px;
	animation: slideInUp 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_3 {
	position: absolute;
  left: 83px;
  top: 350px;
  width: 394px;
  height: 318px;
	animation: fadeInLeft 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s6_4 {
	position: absolute;
  left: 152px;
  top: 627px;
  width: 233px;
  height: 16px;
	animation: flashUp 10s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s6_5 {
	position: absolute;
  left: 615px;
  top: 361px;
  width: 329px;
  height: 292px;
	animation: fadeInRight 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 3;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}

@-webkit-keyframes flashUp {
  0%, 40%, 90% {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}

@keyframes flashUp {
  0%, 40%, 90% {
    opacity: 0;
  }

  20%, 60%, 100% {
    opacity: 1;
  }
}

.flashUp {
  -webkit-animation-name: flashUp;
  animation-name: flashUp;
}