*{
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 400px;
  top: 311px;
  width: 260px;
  height: 115px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 400px;
  top: 494px;
  width: 286px;
  height: 114px;
	animation: zoomIn 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 64px;
  top: 162px;
  width: 148px;
  height: 172px;
	animation: swingIn 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 5;
}

@keyframes swingIn {
  0%, 50%, 100% {
    opacity: 1;
	transform: translateX(-6px) rotateZ(-6deg);
  }

  25%, 75% {
    opacity: 1;
	transform: translateX(-6px) rotateZ(6deg);
  }
}