* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 48px;
  top: 51px;
  width: 184px;
  height: 67px;
  	animation: flashLong 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
  z-index: 2;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}